

body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    color: #2E2F42;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
}

.logo span {
    font-family: 'Raleway';
    color: #4D5AE5;
    font-weight: 800;
}

.pimary-navigation-list{
    list-style: none;
}

.pimary-navigation-item{
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.pimary-navigation-item:hover,
.pimary-navigation-item:focus {
    color: #434455;
}

.pimary-navigation-item:active {
    color: #4D5AE5;
}

.contact-item{
    color: #2E2F42;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.contact-item:hover,
.contact-itefm:focus {
    color: #434455;
}

.contact-item:active {
    color: #4D5AE5;
}

.slogan-section{
    background-color: #2E2F42;
}

.studio_slogan{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;

}

.start-button{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    background: #4D5AE5;
}

.start-button:hover,
.start-button:focus {
    background: #4D5AE5;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 4px;
}

.start-button:active{
    background: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.what-are-we-doing-list{
    list-style: none;
}

.what-are-we-doing-item{
    width: 264px;
    
}

.what-are-we-doing-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.what-are-we-doing-content {
    line-height: 1.5;
}

.what-are-we-doing-img-heading{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
}

.our-team-heading{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
}

.work-list{
    list-style: none;
}

.work-item{
    width: 360;
}

.team{
    background-color: #F4F4FD;
}

.team-list{
    list-style: none;
}


.person-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.person-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.filter-list {
    list-style: none;
}

.filter-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    color:#4D5AE5;
    cursor: pointer;
}

.filter-item:hover,
.filter-item:focus{
    background: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #fff;
}

.filter-item:active{
    background: #404BBF;
}

.catalog-list{
    list-style: none;
}

.catalog-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

}

.catalog-image{
width: 360px;
height: 300px;

}

.catalog-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.footer{
    background-color: #2E2F42;
    color: #E7E9FC;
    height: 310px;
    
}
.footer .logo {
    background-color: #2E2F42;
    color: #E7E9FC;

}

.footer-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}